<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.doctorapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorApplication">
        <activity
            android:name=".ShowTestSummary"
            android:exported="false" />
        <activity
            android:name=".DoneTests"
            android:exported="false" />
        <activity
            android:name=".TestInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ReceivedTestsResults"
            android:exported="false"
            android:label="@string/title_activity_received_tests_results"
            android:theme="@style/Theme.DoctorApplication.NoActionBar" />
        <activity
            android:name=".DoneAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />

        <service
            android:name=".Service.MyFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ClinicListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>